
<link rel="stylesheet" href="/css/index.css">
<h2> Lista de classes.</h2>
<hr />
<a href="/admin/classes/add">
  <button class="btn btn-success"> Nova Classe</button>
</a>
<hr />
<div class="row">
  {{#each classes}}
    <div class="col-12 mt-3">
      <div class="card">
        <div class="card-body">
          <h4>Nome da Classe: {{titulo}}</h4>
          <div class="col-lg-12 col-sm-12 centro">
            <img
              src="/upload/user/{{caminho}}"
              alt="{{caminho}}"
              title="{{caminho}}"
            />
          </div>
          <small> Slug: <strong>{{slug}}</strong></small>
          <br />
          <p>
            Ultima mudança em :
            {{dataClasse}}</p>
          <hr />
          <div class="centro">
            <a href="/admin/classes/edit/{{_id}}">
              <button class="btn btn-warning editar">Editar Classe</button>
            </a>
            <form action="/admin/classes/excluir" method="post" class="excluir">
              <input type="hidden" name="caminho" value="{{caminho}}" />
              <input type="hidden" name="id" value="{{_id}}" />
              <button class="btn btn-danger">Excluir Classe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <div class="card">
      <div class="card-body">
        Não foi Criada nenhuma categoria no momento.
      </div>
    </div>
  {{/each}}
</div>