<h1>
  jogador: {{jogadores.nome}}
</h1>
<hr>
<h4>
  <ul class="list-group">
    <li class="list-group-item">CLASSE : {{jogadores.classe.titulo}}</li>
    <li class="list-group-item"> slug: {{jogadores.slug}}</li>
    <li class="list-group-item">level: {{jogadores.level}}</li>
    <li class="list-group-item">genero: {{jogadores.genero}}</li>
    <li class="list-group-item">data criação: {{jogadores.dataClasse}}</li>
  </ul>
</h4>
<hr>

<center>
  <h5>
    Habilidades.
  </h5>
  <p>
    {{jogadores.habilidades}}
  </p>
</center>